<button class="kth-menu-item search">
    <span>{{i18n "menu_panel_search" lang}}</span>
</button>
<dialog class="kth-menu-panel">
    <div class="kth-menu-panel__container search">
        <button class="kth-icon-button close">
            <span class="kth-visually-hidden">{{i18n "menu_panel_close" lang}}</span>
        </button>
        <div class="kth-menu-panel__content">
            {{{blocks.studentSearch}}}
        </div>
    </div>
</dialog>