<!-- add "scroll-to-top" button when scrolled down -->
<!--indexOff: all-->
<div id="back-to-top" role="link" aria-label="{{i18n 'back_to_top_label' lang}}"></div>
<footer class="container">{{{blocks.footer}}}</footer>
<!--indexOn: all-->