<!--indexOff: all-->
<!-- add "scroll-to-top" button when scrolled down -->
<div id="back-to-top" role="link" aria-label="{{i18n 'back_to_top_label' lang}}"></div>
<footer class="kth-footer {{{theme}}}">
    <div class="kth-footer__content">
        {{{blocks.studentFooter}}}
    </div>
</footer>
<!--indexOn: all-->