<!--indexOff: all-->
<header class="kth-header {{{theme}}}">
  <div class="kth-header__container">
    {{> headerLogotype }}
    {{{blocks.studentMegaMenu}}}
    <ul class="kth-header__tools">
      <li>{{> headerSearch }}</li>
      <li>{{{languageLink lang}}}</li>
    </ul>
  </div>
</header>
<div class="kth-content articleNavigation">
  <div class="row justify-content-between">
    {{breadcrumbs breadcrumbsList lang}} 
  </div>
</div>
<!--indexOn: all-->