@use '~@kth/style/scss/components/button.scss';

.tabs {
  [role='tablist'] {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;

    button {
      @extend .kth-button;
      &[aria-selected='false'] {
        @extend .secondary;
      }
      &[aria-selected='true'] {
        @extend .primary;
      }
    }
  }

  [role='tabpanel'] {
    &:focus {
      outline: none;
    }
  }
}
