// Less code goes here...!

//@import "kth-style/public/sass/variables/sizes";
//@import "kth-style/public/sass/variables/colors";

// Bootstrap source
/*@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/kth-style/public/sass/bootstrap/variables";
@import "node_modules/bootstrap/scss/mixins";*/

.course-page{
    margin: 10px 0px 0px 10px !important;
}
#kursinfo-main-page{ 
    margin-bottom: 20px;
    padding-left: 30px;
    width: 100%;
}

.container.articleNavigation{
    padding: 15px 15px 0 !important;
   
}

#roundsDropdown_span{
font-size: 0.8rem;
}    

.preArticleParagraphs, h2.secondTitle {
    margin-top: -1px;
    padding: 0;
    font-size: 1.2rem;
}

#course-title{
    border-bottom: 0px;
    margin: 0px;
    margin-top: 20px;
}

#courseIntroText{
    padding-top:10px;
    padding-bottom:10px;
    img {
        float: left;
        margin: 8px 20px 10px 0;
        width:100%;
        max-width: 400px;
    }    
}

#semesterContainer{
    #courseInfoHeader{
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }
     h2{
        padding-top:20px; 
    }
}

.select-round{
    width: 100%;
    & > .btn{
        background-color: #f6f6f6;
        border: 1px solid #d4d4d4;
        display: flex;
        justify-content: space-between;
        padding: 0;
        width: 100%;
        &>span:first-child {
            margin: 6px;
            max-height: 28px;
            overflow-y: hidden;
        }
        .caretholder {
            background-color: #007fae;
            width: 36px;
            height: 36px;
            margin: 0;
            position: relative;

            &:after{
                display: inline-block;
                background: url(https://intra-r.referens.sys.kth.se/img/kth-style/icons/arrow-white-down-d7377bdc4e7188ca890eab41c5f6e373.svg) no-repeat 0;
                background-size: 14px auto;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 9px;
            }
        }
    }
    .dropdown-menu {
        min-width: 100%;

        .dropdown-item{
            border-top: 1px dotted #ddd;
        }

        .dropdown-item:first-child{
            border:0;
        }            
    }
    
}

#roundDropdownMenu{
    border: 1px solid #dee2e6;
    padding: 10px;
    .btn{
        margin-top:10px;
        margin-bottom:20px;
    }
    p{
        margin-left: 15px;
    }
   
}

#semesterMenu{
    margin-bottom: 10px;
    border-top: 1px solid #0580ac;
    border-bottom: 1px solid #0580ac;
    margin-top: 40px;
    padding: 10px 0;

     .select-round{
        width: auto;
        & > .btn{
            margin-top: 20px;
        }
    }   

    .round-dropdowns{
        & > .btn-group>.btn:first-child {
            margin-left: -15px;
        }
    }

    @media (max-width: 376px){
        & > .btn-group>.btn:first-child {
                margin-left: -10px;
                font-size: 0.8rem
        }
    }

}

   
#semesterButtonMenue, #roundDropdownMenu{
    & > .button-clean{
        border: none;
        margin: 2px;
        padding: 2px;
        font-size: 18px;
        font-weight: 400;
        border-radius: 0 !important;
        background-color: #fff !important;
        &:hover, &:focus, &:active, &.is-active{
            background-color: #fff;
            border-radius: 0;
            border: none;
            border-bottom: 5px solid #006cb7 !important;
        }
    }
    .alert-info{
        margin: 10px 15px 0 15px;
        width: 100%;
   }
}



#keyInformationContainer{
    margin-top: 10px;
    .key-info{
        padding: 15px;
        background: #f6f6f6;
        margin-top: 10px;
    }
    .btn-info-modal{
        margin-left: 5px;
    }
}

.key-info{
    p, a {
        font-size: 1rem;
    }

    h4 {
        margin: 1rem 0 .5rem 0;
        }
  }

  #coreContent{
    padding-left:0;
    padding-top:40px;
    border-bottom: 1px solid #ddd;
    .first-header{
        margin-top: 40px;
    }
    @media (min-width: 768px){
        padding-top:0px;
    }
}

#historyContent{
    padding-left:0;
    h2{
        padding-top:20px;
    }
}

#courseLinks{
    padding-top:30px;
    /*padding-bottom:30px;*/
}

.person{
    margin-bottom: 0.3rem;
}

.editButton{
    @media (min-width: 768px){
        float:right;
    }
}
.ul-no-padding{
  padding-left: 20px;
}


/****ICONS*****/
.icon-schedule{
    position: relative;
    top: 4px;
    height: 20px;
    width: 20px;
    display: inline-block;
    background: top left / 1.0em auto no-repeat url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23262626' version='1' viewBox='0 -100 900 900'%3e%3cpath d='M800 0q42 0 71 29t29 71v600q0 40-29 70t-71 30H100q-40 0-70-30T0 700V100q0-42 30-71t70-29h46v100h160V0h290v100h160V0zm0 700V300H100v400zM260-100V70h-70v-170zm450 0V70h-70v-170z'/%3e%3c/svg%3e");
}

.fa, .fas {
    font-weight: 900;
    padding-right: 8px;
}
/************************************************/



/* Animation */
#CourseKeyInformationOneCol, #roundKeyInformation, #coreContent,#syllabusLink{
    @keyframes fadeOutIn {
        0% {opacity: 1;}
        50% {opacity: 0;}
        100% {opacity: 1;}
      }
      
      .fadeOutIn {
        animation-name: fadeOutIn;
        animation-duration: 800ms;
       }

       .right-column-header{
        background: #fff;
        margin: 20px -15px;
        padding: 20px 15px 10px;
       }

       .clear-margin-bottom{
           margin-bottom: 0;
       }
}


///*************************************///
.alert-info {
    color: #000;
    font-size: 1em;
    min-height: 3.4rem;
    border-radius: .15rem;
    position: relative;
    padding: 1rem 1rem 1rem 4.4rem;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;

    &::before{
        font-size: 1.4rem;
        position: absolute;
        top: 10%;
        left: .2em;
        width: 2em;
        content: url(//www.kth.se/img/kth-style/icons/alert-info.svg);
    }
    
}

///******************** MODAL ****************************///
.modal {
    display: block;
  }
  /* The actual modal */
  .ModalFade-leave {
    transform: translateY(0);
    opacity: 1;
  }
  .ModalFade-leave-active {
    overflow: hidden;
    transition: transform 0.5s ease-in, opacity 0.4s ease-in;
  }
  .ModalFade-leave-end {
    transform: translateY(-150%);
    opacity: 0;
  }
  .ModalFade-enter {
    transform: translateY(-150%);
    opacity: 0;
  }
  .ModalFade-enter-active {
    transition: transform 0.5s ease-out, opacity 0.4s ease-in;
  }
  .ModalFade-enter-end {
    transform: translateY(0);
    opacity: 1;
  }
  /* The modal background */
  .ModalBackdropFade-leave {
    opacity: 0.5;
  }
  .ModalBackdropFade-leave-active {
    overflow: hidden;
    transition: opacity 0.3s ease-in;
  }
  .ModalBackdropFade-leave-end {
    opacity: 0!important;
  }
  .ModalBackdropFade-enter {
    opacity: 0!important;
  }
  .ModalBackdropFade-enter-active {
    transition: opacity 0.3s ease-in;
  }
  .ModalBackdropFade-enter-end {
    opacity: 0.5;
  }
