@use '~@kth/style/scss/utils/layers.scss';
@use '~@kth/style/scss/utils/reset.scss';
@use '~@kth/style/scss/utils/mixins.scss';
@use '~@kth/style/scss/utils/prose.scss';

@use '~@kth/style/scss/tokens/typography.scss';
@use '~@kth/style/scss/tokens/colors.scss';

@use '~@kth/style/scss/components/logotype.scss';
@use '~@kth/style/scss/components/search.scss';
@use '~@kth/style/scss/components/alert.scss';
@use '~@kth/style/scss/components/footer.scss';
@use '~@kth/style/scss/components/mega-menu.scss';
@use '~@kth/style/scss/components/visually-hidden.scss';
@use '~@kth/style/scss/components/button.scss';
@use '~@kth/style/scss/components/header.scss';
@use '~@kth/style/scss/components/mobile-menu.scss';
@use '~@kth/style/scss/components/menu-item.scss';
@use '~@kth/style/scss/components/menu-panel.scss';
@use '~@kth/style/scss/components/content.scss';
@use '~@kth/style/scss/components/local-navigation.scss';
@use '~@kth/style/scss/components/kpm.scss';

@import 'shared';
@import 'sidebar';

#kursinfo-main-page {
  #columnContainer {
    // Side panel first in mobile...
    flex-direction: row;
    @media (min-width: 768px) {
      // ...but to the right (reverse order) on desktop
      flex-direction: row-reverse;
    }
  }
}

.course-section-list {
  @include prose.prose;

  // make sure margin reset from prose is applied even when we need to wrap contnet/paragaphs in divs
  h1 + .course-section-content-wrapper > :first-child,
  h2 + .course-section-content-wrapper > :first-child,
  h3 + .course-section-content-wrapper > :first-child {
    margin-block-start: 0;
  }

  .course-section-content-wrapper {
    p,
    li,
    i {
      word-break: break-word;
    }
  }
}

#kursstatistik-main-page {
  @include prose.prose;

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;
  }
  .kth-alert {
    margin-top: 30px;
  }

  &.error-missing-parameters-in-query {
    .empty-field {
      outline: solid 1px var(--color-error);
      outline-offset: 3px;
    }
  }
}

#courseIntroText {
  @include prose.prose;
  padding-bottom: 10px;
  img {
    float: left;
    margin: 0 50px 50px 0;
    width: 100%;
    max-width: 400px;
  }
  p {
    margin-top: 0px;

    max-width: 730px;
  }
}

.bankIdAlert {
  margin: 1rem 0 0 0;
}

.ul-no-padding {
  padding-left: 20px;
}

/****ICONS*****/
.icon-schedule {
  position: relative;
  top: 4px;
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url('https://app.kth.se/style/static/kth-style/img/kth-style/icons/date-black.svg');
  background-repeat: no-repeat;
  margin-right: 10px;
}

.fa,
.fas {
  font-weight: 900;
  padding-right: 8px;
}

.syllabus-marker-icon {
  height: 0.7rem;
  margin-right: 0.5rem;
  vertical-align: baseline;
  width: 0.7rem;
}

.syllabus-marker-icon-small {
  font-size: 0.5rem;
  margin-bottom: 0.1rem;
}

sup {
  .syllabus-marker-icon {
    margin-left: 0.3rem;
  }
}

/************************************************/

/* Animation */
#roundInformationOneCol,
#roundKeyInformation,
#coreContent {
  @keyframes fadeOutIn {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fadeOutIn {
    animation-name: fadeOutIn;
    animation-duration: 800ms;
  }
}

///******************** MODAL ****************************///
.modal {
  .modal-title {
    @include typography.font-heading-s;
    margin: 0;
  }
  .modal-body {
    div {
      @include prose.prose;
      & > :first-child {
        margin-block-start: 0;
      }
      & > :last-child {
        margin-block-end: 0;
      }
    }
  }
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.margin-left-5 {
  margin-left: 5rem;
}

.margin-left-4 {
  margin-left: 4rem;
}

div::-webkit-scrollbar {
  width: 4px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: colors.$color-gray-medium;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.rdt_TableCol_Sortable > div {
  white-space: break-spaces;
  word-wrap: break-word;
}

.margin-top-1-5 {
  margin-top: 1.5rem;
}
