// Less code goes here...!

//@import "kth-style/public/sass/variables/sizes";
//@import "kth-style/public/sass/variables/colors";

// Bootstrap source
/*@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/kth-style/public/sass/bootstrap/variables";
@import "node_modules/bootstrap/scss/mixins";*/


.dropdown-clean{
    border: none;
    margin: 2px;
    padding: 2px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0 !important;
    background-color: #fff !important;
    &:hover, &:focus, &.is-active{
        background-color: #fff;
        border-radius: 0;
        border: none;
        border-bottom: 5px solid #006cb7 !important;
    }
}



.preArticleParagraphs, h2.secondTitle {
    margin-top: -20px;
    padding: 0;
}
/*.title{
    padding: 0px 0px 10px 0px;
    margin: 0px;
    font-size: 34px;
    font-size: 3.1rem;
    color: #000000;
    font-weight: normal;
    line-height: '110%';
    font-family: 'Georgia Regular', 'Georgia', 'garamond pro', garamond, 'times new roman', times, serif, 'droid sans';
    border-bottom: 1px dotted #b9bbbd;
}*/

#course-title{
    border-bottom: 0px;
    margin: 0px;
    margin-top: 20px;
}

.paddingX15{
    padding-left: 15px;
  }
  
  .key-info{
    .btn-primery{
        background: #24a0d8;
        color:#fff;
        font-size: 18px;
    }
    p {
        margin: 0 0 0.1em 0;
        font-size: 17px;
    }

    h4 {
        font-size: 18px;
        color: #111;
        font-weight: 700;
        margin: 1rem 0 .5rem 0;
    }

    div{
        padding-left:5px;
        padding-right:5px;
    }

  }
  
p.small-text{
    font-size: 12px;
} 
 #imageContainer {
    height: 100%;
    /*vertical-align: middle;
    align-content: center;
    margin: 10px;
    margin-right: 50px;*/
}

#courseIntroText{
    padding-top:30px;
    padding-bottom:30px;
    
    p{
        font-size: 18px;
    }
}

#courseRoundHeader{
    h4{
        font-size: 18px;
        font-weight: 400;
    }
}

select{
    margin-top: 40px;
    border: none;
    border-bottom: #ddd 1px solid;
    font-size: 16px;
    font-weight: 700;
}

/****temp****/
.card-body{
    padding: 0 40px;
    border: 1px solid #ddd;
    border-top: 0px;
    border-radius:5px; 
}

#roundDropDownLabel{
    font-size: 1.7rem
}
#courseDropdownMenu{
    padding-top: 45px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.person{
    margin-bottom: 0.3rem;
}

.editButton{
    float:right;
}

/*ICONS*/
.icon-cal{
    background: top left / 1.5em auto no-repeat url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23262626' version='1' viewBox='0 -100 900 900'%3e%3cpath d='M800 0q42 0 71 29t29 71v600q0 40-29 70t-71 30H100q-40 0-70-30T0 700V100q0-42 30-71t70-29h46v100h160V0h290v100h160V0zm0 700V300H100v400zM260-100V70h-70v-170zm450 0V70h-70v-170z'/%3e%3c/svg%3e");
}
