<script>
  window.__initialState__ = {{{initialState}}}
</script>

{{prefixScript '/static/app.js' 'scripts'}}

<div class="container articleNavigation">
  <div class="row justify-content-between">
   <div class="col-xs-12 col-lg-12"> 
        {{breadcrumbs breadcrumbsPath lang}}
        </div>
    </div>
  </div>

<div id="kth-kursinfo">{{{html}}}</div>
