<script>
  window.__initialState__ = {{{initialState}}}
</script>

{{prefixScript '/static/js/app.js' 'scripts'}}

<div class="container articleNavigation course-page">
   
    <div class="row justify-content-between">
      <div class="col-1 col-sm-1"> </div>
   <div class="col-xs-12 col-lg-10"> 
        {{breadcrumbs breadcrumbsPath lang}}
        </div>
     <div class="col-1 col-sm-1"> </div>
    </div>
    
  </div>

<div id="kth-kursinfo">{{{html}}}</div>
